@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");

@import "tailwindcss";

@keyframes pulse-opacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer utilities {
  .font-syne {
    font-family: "Syne", sans-serif;
  }
  .font-dm-sans {
    font-family: "DM Sans", sans-serif;
  }
  .animate-pulse-opacity {
    animation: pulse-opacity 2s infinite;
  }
}
